<ul id="headlines">
{% for new in news %}
<li>
  	<time datetime="{{new.publicationDate|date('Y-m-d')}}" class="icon">
		{{new.publicationDate|created_ago|raw}}
	</time>
	<div>
    <h2>{{ new.title }}
    {% if is_granted('ROLE_ADMIN') %}
    <a class= "admin_link" href="{{ path('EditNews',{'page':new.id})}}">&#x270E</a>
    <a class= "admin_link" href="{{ path('DellNews',{'page':new.id})}}" onclick="return confirm('Удалить страницу')" >&#x2718</a>
    {% endif %}
    </h2>
    	{% if new.imageHref %}
            {% if 'http' in new.imageHref %}
                <img src={{new.imageHref}} class="prew_img" alt="{{ new.imageFile }}"/>
            {% else %}
                <img src="{{ vich_uploader_asset(new, 'imageFile') }}" class="prew_img"/>
            {% endif %}
    	{% endif %}	
    	{% if new.summary %}
    		<p class="summary lead">{{new.summary}}
    			{% if new.content %}
				<a href="{{ path('ShowNews',{'page':new.id})}}"> Читать далее </a>
				{% endif %}
			</p>
    	{% endif %}	
	</div>
</li>
{% endfor %}
</ul>

