{# <ul id="headlines"> #}
{% for new in news %}
{# <li> #}
{#   	<time datetime="{{new.publicationDate|date('Y-m-d')}}" class="icon">
		{{new.publicationDate|created_ago|raw}}
	</time> #}
	<div>
    <h2 >{% if new.summary %}<a class="text-dark" href="{{ path('ShowNews',{'page':new.id})}}" class="head-link">{{ new.title }}</a>{% else %}{{ new.title }}{% endif %}
    {% if is_granted('ROLE_ADMIN') %}
    <a class= "admin_link" href="{{ path('EditNews',{'page':new.id})}}">&#x270E</a>
    <a class= "admin_link" href="{{ path('DellNews',{'page':new.id})}}" onclick="return confirm('Удалить страницу')" >&#x2718</a>
    {% endif %}
    </h2>
<p class="text-muted"> Опубликовано:
<time datetime="{{new.publicationDate|date('Y-m-d')}}">{{new.publicationDate|date('d.m Y')}}</time> 
года </p>
<p class="summary lead prew_img_summary">
    	{% if new.imageHref %}
        <a data-fancybox href="{% if 'http' in new.imageHref %}{{new.imageHref}}{% else %}{{ vich_uploader_asset(new, 'imageFile') }}{% endif %}">

            <img src="{% if 'http' in new.imageHref %}{{new.imageHref}}{% else %}{{ vich_uploader_asset(new, 'imageFile') }}{% endif %}" class="{% if new.summary %}prew_img_summary{% else %}prew_img{% endif %}"/>

        </a>
    	{% endif %}	
    	{% if new.summary %}
    		{{new.summary}}
    			{% if new.content %}
				<a href="{{ path('ShowNews',{'page':new.id})}}"> Читать далее </a>
				{% endif %}
			</p>
    	{% endif %}	
	</div>
{# </li> #}
{% endfor %}
{# </ul> #}

