<!DOCTYPE html>
<html lang="ru">
  <head>
    {%block meta%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {%endblock%}
    <meta name="description" content='{% block description %} Сайт Здвинской центральеой библиотеки {%endblock%}'>
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>
      {% block title %}МКУК Здвинская центральная библиотека {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
      {# <link rel="stylesheet" href="/css/custom.min.css"> #}
      <link rel="stylesheet" href="/css/zdvlib.css">
    {% endblock %}
  </head>
  <body>

{{include('navbar.html.twig')}}

<main role="main" class="container-fluid">

  <div class="row">
{% block body %}
    <div class="col-md-8">
    {% block content %}

      {{ render(controller('AppBundle:BigBuner:recent')) }}

      {{ render(controller('AppBundle:News:recentNews',{ 'max': 6 })) }}
    {% endblock %}
    </div>
{% endblock %}
  <aside id="sidebar" class="col-md-4" style="border-left: 1px solid #f8f9fa;">
    <section class="my-4 border rounded p-3" id='markdown'>
      {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'sitebar' })) }}
    </section>
    <section class="my-4 border rounded p-3">
    <h3 class="h4 text-danger" style="font-weight: 300;">Найти на сайте</h3>
    <p class="text-muted">Чтобы быстро найти нужную информацию, введите её в поле поиска, и получите все страницы, где она встречается!</p>
    <form action="{{ path('Search') }}" method="get" role="search">   
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Что найти?" value="">        
        <div class="input-group-append">
          <button type="submit" class="btn btn-danger">Поиск</button>
        </div>
      </div>
    </form>  
    </section>
    <section class="my-4 border rounded p-3" id='markdown'>
      <h3 class="h4 text-danger" style="font-weight: 300;">Ссылки</h3>
      <p class="text-muted">Наши ресурсы в сети интернет</p>
      {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'melink' })) }}
    </section>
    <section class="my-4 border rounded p-3">
      <h3 class="h4 text-danger" style="font-weight: 300;">Обратите внимение</h3>
    {% block  buner  %}
      {{ render(controller('AppBundle:Buner:recentBuner')) }}
    {% endblock %}
    </section>
  </aside>


</div>

</main><!--/.container-->

<footer class="footer">
  <div class="container">
    <span class="text-muted">
      {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'footer' })) }}
    </span>
  </div>
</footer>
{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
{% endblock %}

    </body>
</html>


