<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/images/favicon.png">
        <title>{% block title %}МКУК Здвинская ЦБС Детское отделение{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="/css/bootstrap.min.css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
            {# Заменить maxcdn.bootstrapcdn.com на локальный #}
            <!-- Custom styles for this template -->
            <link href="/css/sticky-footer.css" rel="stylesheet">
            <link href="/css/zdvlib.css" rel="stylesheet">
            <link media='print' href="/css/print.css" rel="stylesheet" />

            <!-- Just for debugging purposes. Don't actually copy this line! -->
            <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>



    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container-fluid">
{#       <div class="masthead">
        <h3 class="text-muted">МКУК Здвинская ЦБС Детское отделение</h3> #}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><div>Здвинская "ЦБС"<br><div style="font-size:x-small">Детское отделение</div> </div></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

{% block sidebar %}{% endblock %}

          </ul>
         <ul class="nav navbar-nav navbar-right">
{% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Редактировать<b class="caret"></b></a>
              <ul class="dropdown-menu">

                {# <li><a href="{{ path('pageList') }}">Страницы</a></li> #}
                {# <li><a href="{{ path('AdminBuner') }}">Банеры</a></li> #}
                <li class="divider"></li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">Подвал</a></li>
                <li class="divider"></li>
                {# <li><a href="{{ path('BackUp') }}">Backup sql</a></li> #}

              </ul>
            </li>
{% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ logout_url() }}">Выход</a></li>
                </ul>
               </li>
            {% else %}
            <li><a href="{{ path('login') }}">Вход</a></li>
            {%endif%}
            <li><a class="eyeless" href="/?eyeless=true"><strong> Версия для слабовидящих</strong></a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="row">
  <div class="col-sm-9 blog-main">
    {# {{ render(controller('AppBundle:Message:view',
        message is defined ? {'message':message} : {'message':null} )) }} #}
<div class="container">

  <div class="page-header">
    <header>
      <h1 >{% block header %}Здвинская детская библиотека {% endblock %}</h1>
    </header>
  </div>
  {% block body %}{{title is defined ? title: 'Редактируем новости'}}{% endblock %}
</div>
</div>
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            {{ render(controller(
                'AppBundle:Markdown:test',
                { 'contentName': 'sitebar' }
            )) }}
            <form class="navbar-form" role="search" action="{# {{ path('Search') }} #}">
              <div class="input-group">
                <input type="search" class="form-control" name='q' placeholder="Поиск...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" >
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
          </form>
          </div>
        <div class="sidebar-module">
          {# {{ render(controller('AppBundle:Baner:showSidebar')) }} #}
        </div>

        </div><!-- /.blog-sidebar -->
</div>
    <div id="footer">
      <div class="container">
        {# {% block footer %}<p class="text-muted">Place sticky footer content here.</p>{% endblock %} #}
        {% block footer %}
          <p class="text-muted">
            {{ render(controller(
                'AppBundle:Markdown:test',
                { 'contentName': 'footer' }
            )) }}
            </p>
        {% endblock %}    
      </div>
    </div>
        {% block javascripts %}
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>


