<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>
      {% block title %}{{title is defined ? title: 'МКУК Здвинская ЦБС Детское отделение'}}{% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
      <link rel="stylesheet" href="/css/custom.min.css">
      <link rel="stylesheet" href="/css/zdvlib.css">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </head>
  <body>

{{include('navbar.html.twig')}}

<main role="main" class="container">

  <div class="row row-offcanvas row-offcanvas-right">
{% block body %}
    <div class="col-12 col-md-9">
      <p class="float-right d-md-none">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h1>ChildLib</h1>
          <p>Это сайт детского отделения МКУК Здвинской централизованной системы</p>
      </div>


          <div class="row">
            <div class="col-6 col-lg-4">
              <h2>День специалиста</h2>
              <p>День специалиста «Компетентность и профессионализм современного библиотекаря» состоялся 18сентября на базе Здвинской центральной библиотеки</p><a class="btn btn-secondary" href="#" role="button">читать далее &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>День специалиста</h2>
              <p>День специалиста «Компетентность и профессионализм современного библиотекаря» состоялся 18сентября на базе Здвинской центральной библиотеки</p><a class="btn btn-secondary" href="#" role="button">читать далее &raquo;</a></p>
            </div><!--/span-->

            <div class="col-6 col-lg-4">
              <h2>День специалиста</h2>
              <p>День специалиста «Компетентность и профессионализм современного библиотекаря» состоялся 18сентября на базе Здвинской центральной библиотеки</p><a class="btn btn-secondary" href="#" role="button">читать далее &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-4">
              <h2>День специалиста</h2>
              <p>День специалиста «Компетентность и профессионализм современного библиотекаря» состоялся 18сентября на базе Здвинской центральной библиотеки</p><a class="btn btn-secondary" href="#" role="button">читать далее &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

    </div>
{% endblock %}
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'sitebar' })) }}
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="sidebar-module">
        {# {{ render(controller('AppBundle:Baner:showSidebar')) }} #}
      </div>
    </div>


</div><!-- /.blog-sidebar -->

</main><!--/.container-->

{# <footer>
      {% block footer %}
          {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'footer' })) }}
      {% endblock %} 
</footer> #}
<footer class="footer">
  <div class="container">
    <span class="text-muted">
      {{ render(controller('AppBundle:Markdown:test',{ 'contentName': 'footer' })) }}
    </span>
  </div>
</footer>
{% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
{% endblock %}

    </body>
</html>


