{% extends 'base.html.twig' %}


{% block content %}
<article>
<ul>
{% for key,value in yaml %}
	{% if value is iterable %}
	<li>{{ key }}
		<div>
			{% for sub_key,sub_value in value %}
				{% if sub_value is not iterable %}
				<a href={{sub_value}}>{{ sub_key }}</a>
				{%endif%}
			{%endfor%}
		</div>
	</li>
	{% else %}
	<li><a href={{value}}>{{ key }}</a></li>
	{%endif%}
{% endfor %}
</ul>
</article>
{% endblock %}
