{% extends 'base.html.twig' %}

{% block title %}МКУК Здвинская ЦБС | {{pdf.name}}{% endblock %}

{% block body %}
<div class="col-md-8">
 <div class="page-header">
 <h1>{{pdf.name}}</h1></div>
	<div class="embed-responsive embed-responsive-1by1">
		 <iframe src="/pdfjs/web/viewer.html?file={{ vich_uploader_asset(pdf, 'pdf') }}"
		 		 class="embed-responsive-item"
		 		 allowfullscreen >
		 	<a href="{{ vich_uploader_asset(pdf, 'pdf') }}">{{pdf.name}}</a>
		 </iframe>
	</div>
</div>
{% endblock %}
