{% extends 'base.html.twig' %}

{% block meta %}
{{ parent() }}
	<meta name="robots" content="none"/>
{% endblock %}

{% block title %}
    Админка | План мероприятий
{% endblock %}

{% block body %}
     <div class="col-md-8">
		<header class="page-header">
		  <h1 >План мероприятий</h1>
		</header>
		<div class="table-responsive">
			<table class="table">
				<thead class="">
					<tr>
				      <th scope="col">ID</th>
				      <th scope="col">Дата</th>
				      <th scope="col">Название</th>
				      <th scope="col">Форма мероприятия</th>
				      <th scope="col"></th>
				    </tr>
				</thead>
				<tbody>
		{% for object in objs %}
			    <tr valign="middle">
			      <th scope="row" class="align-middle">{{object.id}}</th>
			      <td class="align-middle">{{object.date|date('d.m.Y')}}</td>
			      <td class="align-middle">{{object.title}}</td>
			      <td class="align-middle">{{object.type}}</td>
				  <td class="align-middle">
				  	<a href   = "{{ path('EditEvent',{'id':object.id})}}" 
				  	   class  = "admin_link bigfont" 
				  	   title  = "Редактировать">&#x270E 
				  	</a>
				  	<a href   = "{{ path('DellEvent',{'id':object.id})}}" 
				  	   class  = "admin_link bigfont" 
				  	   onclick= "return confirm('Удалить страницу')" 
				  	   title  = "Удалить" > &#x2718 
				  	</a>
				  </td>
			    </tr>
		{% endfor %}
				</tbody>	
			</table>
		<h2 >Событие</h2>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
    </div>
{% endblock %}


