{% extends 'special/main.html.twig' %}


{% block title %}{{news.title}}{% endblock %}

{% block body %}
<div class="col-md-8">
 <div class="page-header"><h1>{{news.title}}</h1></div>
 <article>
<div style=" font-style: italic;" class="lead" >{{news.summary}}</div>

{% if news.imageHref %}
    {% if 'http' in news.imageHref %}
    <a data-fancybox href="{{news.imageHref}}">
        <img src={{news.imageHref}} class="caption-img"/>
    </a>
    {% else %}
    	<a data-fancybox href="{{ vich_uploader_asset(news, 'imageFile') }}">
        <img src="{{ vich_uploader_asset(news, 'imageFile') }}" class="caption-img"/></a>
    {% endif %}
{% endif %}	

<div class="lead" >{{news.content|raw}}</div>
Опубликовано:  {{news.publicationDate|strftime()}}
</article>
</div>
{% endblock %}

{% block description %}
{{news.summary}}
{% endblock %}