{% for key,value in yaml %}
	{% if value is iterable %}
		<li>{{ key }}
		<ul>
			{% for sub_key,sub_value in value %}
				{% if sub_value is not iterable %}
				<li><a class="dropdown-item" href="/special{{sub_value}}">{{ sub_key }}</a></li>
				{%endif%}
			{%endfor%}
		</ul></li>
	{% else %}
	<li><a href="/special{{value}}">{{ key }}</a></li>
	{%endif%}
{% endfor %}