{% extends 'base.html.twig' %}

{% block meta %}
{{ parent() }}
	<meta name="robots" content="none"/>
{% endblock %}

{% block title %}
    Админка | Редактор страниц
{% endblock %}

{% block body %}
    <div class="col-md-8">
		<header class="page-header">
		  <h1 >Редактор страниц
		  	<a href="{{ path('addArticle')}}" class= "admin_link"> &#10010</a>
		  </h1>
		</header>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
				      <th>ID</th>
				      <th>Название</th>
				      <th></th>
				      <th><a href='#' class="btn btn-default fa fa-plus" title="Добавить"> </a></th>
				    </tr>
				</thead>
		{% for page in article %}
			    <tr>
			      <td>{{page.id}}</td>
			      <td><a href="{{ path('showArticle',{'id':page.id})}}" >{{page.name}}</a></td>
				  <td><a href="{{ path('editArticle',{'id':page.id})}}" class= "admin_link bigfont" title="Редактировать">&#x270E </a></td>
				  <td><a href="{{ path('dellArticle',{'id':page.id})}}" class= "admin_link bigfont" onclick="return confirm('Удалить страницу')" title="Удалить" > &#x2718 </a></td>
			    </tr>
		{% endfor %}	
			</table>
		</div>
    </div>
{% endblock %}


